[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
asgiref = "==2.3.2"
responder = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
